@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.election-details .dashboard-cards{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dcdcff;
}

ul{
   
        list-style-type: none;
        margin: 0;
        padding: 0;
      
}

.election-details p {
    
    color: black;
    font-weight: 500;
    line-height: 1.5;
    text-align: initial;
    margin-left: 30px;
}

.election-details .dashboard-cards::before{
    content: '';
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    
}

.election-details .dashboard-cards::after{
    content: '';
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    
}

.election-details .card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.election-details .card-container .card{
    position: relative;
    width: 280px;
    height: 350px;
    margin: 35px;
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    border-radius: 15px;
    background: rgb(108 108 171);
    overflow: hidden;
    display: flex;
    background-image: url(//www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png);
    height: 100%;
    width: 260px;
    padding: 20px 0;
    /* background-color: #e3f2fd; */
    background-size: 256px 556px;
    background-position: left 0 bottom 0;
    /* background-color: #051e34; */
    margin-top: 184px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.election-details .card-container .card .content{
    padding: 20px;
    font-family: 'Poppins';
    text-align: center;
    transform: translateY(100px);
    opacity: 1;
    transition: 0.5s;
}

.election-details .card-container .card:hover .content{
    opacity: 1;
    transform: translateY(0px);
}

.election-details .card-container .card .content h2{
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 9em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    font-weight: 600;
}

.election-details .card-container .card .content h3{
    font-size: 2em;
    line-height: 1.4;
    font-family: 'Poppins';
    color: #fff;
    z-index: 1;
}


.election-details .card-container.card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.election-details .card-container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.election-details h1 {
    font-family: 'Poppins';
    font-weight: 700;
    margin: 3.25em 2px -3em;
    color: #313b64;
    font-size: 2.5rem;
    text-align: center;
}