/* .skills {
  animation-name: skills;
}
html {
  font-size: 100%;
  font-family: sans-serif;
} */
/* body {
  background: #dcdcff;
}
html,
body,
main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.win-prediction h1 {
  font-family: 'Poppins';
  font-weight: 700;
  margin-bottom: -55px;
  margin: 7.55em 0;
  margin-bottom: 7em;
  color: #313b64;
  font-size: 2.5rem;
  text-align: center;
}

.win-prediction main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.win-prediction section {
  background: #dcdcff;
}
.win-prediction section article.skills {
  width: 500px;
  height: auto;
}
.win-prediction section article.skills p {
  z-index: 2;
  color: #fff;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.win-prediction section article.skills div span:nth-child(1) {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  height: 100%;
  width: 100%;
}
.win-prediction section article.skills div span:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(103 103 158);
  height: 100%;
}
.win-prediction section article.skills div:nth-child(1) span:nth-child(2) {
  width: 90%;
  animation-delay: 0.25s;
}
.win-prediction section article.skills div:nth-child(2) span:nth-child(2) {
  width: 90%;
  animation-delay: 0.05s;
}
.win-prediction section article.skills div:nth-child(3) span:nth-child(2) {
  width: 80%;
  animation-delay: 0.1s;
}
.win-prediction section article.skills div:nth-child(4) span:nth-child(2) {
  width: 70%;
  animation-delay: 0.15s;
}
.win-prediction section article.skills div:nth-child(5) span:nth-child(2) {
  width: 75%;
  animation-delay: 0.26s;
}
.win-prediction section article.skills div:nth-child(6) span:nth-child(2) {
  width: 60%;
  animation-delay: 0.27s;
}
.win-prediction section article.skills div:nth-child(7) span:nth-child(2) {
  width: 80%;
  animation-delay: 0.29s;
}
.win-prediction section article.skills div:nth-child(8) span:nth-child(2) {
  width: 75%;
  animation-delay: 0.35s;
}
.win-prediction section:before {
  position: absolute;
  top: -250px;
  left: -350px;
  width: 500px;
  height: 500px;
  content: '';
  background: rgba(108, 90, 232, 0.25);
  transform: rotate(30deg);
}
.win-prediction section:after {
  position: absolute;
  bottom: -250px;
  right: -350px;
  width: 500px;
  height: 500px;
  content: '';
  background: rgba(108, 90, 232, 0.25);
  transform: rotate(30deg);
}
.win-prediction .skills {
  animation: skills 1.25s cubic-bezier(0.17, 0.67, 0, 1);
}
@keyframes skills {
  0% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
.igFrameBar {
  width: 1000px;
  height: 500px;
  position: relative;
  background: #dcdcff;
  /* margin: 50% auto -241px auto; */
  margin-top: 0px;
  transform: translate(0, -50%);
}

.igFrameBar:before {
  content: "";
  width: 100%;
  height: 1px;
  /* background: #fff; */
  position: absolute;
  top: 50%;
}

.igFrameBar:after {
  content: "";
  width: 125%;
  height: 50%;
  background: transparent;
  position: absolute;
  top: 25%;
  /* border-top: 1px solid #fff; */
  /* border-bottom: 1px solid #fff; */
}

.igData {
  width: 60px;
  position: absolute;
  bottom: 1px;
  margin: 0px 0px 0px 0px;
  z-index: 99;
  float: left;
}

.igData1 {
  background: #9baec8;
  height: 0px;
  left: 80.9090909091px;
  -webkit-animation: showBar1 1.2s 0.1s forwards;
  -moz-animation: showBar1 1.2s 0.1s forwards;
  animation: showBar1 1.2s 0.1s forwards;
}

.igData2 {
  background: #486986;
  height: 0px;
  left: 171.8181818182px;
  -webkit-animation: showBar2 1.2s 0.2s forwards;
  -moz-animation: showBar2 1.2s 0.2s forwards;
  animation: showBar2 1.2s 0.2s forwards;
}

.igData3 {
  background: #2b90d9;
  height: 0px;
  left: 262.7272727273px;
  -webkit-animation: showBar3 1.2s 0.3s forwards;
  -moz-animation: showBar3 1.2s 0.3s forwards;
  animation: showBar3 1.2s 0.3s forwards;
}

.igData4 {
  background: #8ec0e4;
  height: 0px;
  left: 353.6363636364px;
  -webkit-animation: showBar4 1.2s 0.4s forwards;
  -moz-animation: showBar4 1.2s 0.4s forwards;
  animation: showBar4 1.2s 0.4s forwards;
}

.igData5 {
  background: #cadbe9;
  height: 0px;
  left: 444.5454545455px;
  -webkit-animation: showBar5 1.2s 0.5s forwards;
  -moz-animation: showBar5 1.2s 0.5s forwards;
  animation: showBar5 1.2s 0.5s forwards;
}

.igData6 {
  background: #6aafe6;
  height: 0px;
  left: 535.4545454545px;
  -webkit-animation: showBar6 1.2s 0.6s forwards;
  -moz-animation: showBar6 1.2s 0.6s forwards;
  animation: showBar6 1.2s 0.6s forwards;
}

.igData7 {
  background: #d6ecfa;
  height: 0px;
  left: 626.3636363636px;
  -webkit-animation: showBar7 1.2s 0.7s forwards;
  -moz-animation: showBar7 1.2s 0.7s forwards;
  animation: showBar7 1.2s 0.7s forwards;
}

.igData8 {
  background: #a5dff9;
  height: 0px;
  left: 717.2727272727px;
  -webkit-animation: showBar8 1.2s 0.8s forwards;
  -moz-animation: showBar8 1.2s 0.8s forwards;
  animation: showBar8 1.2s 0.8s forwards;
}

.igData9 {
  background: #6aafe6;
  height: 0px;
  left: 808.1818181818px;
  -webkit-animation: showBar9 1.2s 0.9s forwards;
  -moz-animation: showBar9 1.2s 0.9s forwards;
  animation: showBar9 1.2s 0.9s forwards;
}

.igData10 {
  background: #486986;
  height: 0px;
  left: 899.0909090909px;
  -webkit-animation: showBar10 1.2s 1s forwards;
  -moz-animation: showBar10 1.2s 1s forwards;
  animation: showBar10 1.2s 1s forwards;
}

.igData:before {
  position: absolute;
  top: -16px;
  font-size: 12px;
  color: #333;
  font-family: "roboto";
  font-weight: 300;
}

.igData1:before {
  content: "50%";
}

.igData2:before {
  content: "40%";
}

.igData3:before {
  content: "70%";
}

.igData4:before {
  content: "22%";
}

.igData5:before {
  content: "35%";
}

.igData6:before {
  content: "40%";
}

.igData7:before {
  content: "85%";
}

.igData8:before {
  content: "36%";
}

.igData9:before {
  content: "88%";
}

.igData10:before {
  content: "62%";
}

.igData:after {
  position: absolute;
  bottom: -55px;
  transform: rotate(30deg);
  color: #666;
  font-size: 14px;
  text-align: left;
  font-family: "roboto";
  font-weight: 300;
  width: 150px;
}

.igData1:after {
  content: "Party-1";
}

.igData2:after {
  content: "Party-2";
}

.igData3:after {
  content: "Party-3";
}

.igData4:after {
  content: "Party-4";
}

.igData5:after {
  content: "Party-5";
}

.igData6:after {
  content: "Party-6";
}

.igData7:after {
  content: "Party-7";
}

.igData8:after {
  content: "Party-8";
}

.igData9:after {
  content: "Party-9";
}

.igData10:after {
  content: "Party-10";
}

@-webkit-keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50%;
  }
}
@-webkit-keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-webkit-keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70%;
  }
}
@-webkit-keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22%;
  }
}
@-webkit-keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35%;
  }
}
@-webkit-keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-webkit-keyframes showBar7 {
  0% {
    height: 0px;
  }
  100% {
    height: 85%;
  }
}
@-webkit-keyframes showBar8 {
  0% {
    height: 0px;
  }
  100% {
    height: 36%;
  }
}
@-webkit-keyframes showBar9 {
  0% {
    height: 0px;
  }
  100% {
    height: 88%;
  }
}
@-webkit-keyframes showBar10 {
  0% {
    height: 0px;
  }
  100% {
    height: 62%;
  }
}
@-moz-keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50%;
  }
}
@-moz-keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-moz-keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70%;
  }
}
@-moz-keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22%;
  }
}
@-moz-keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35%;
  }
}
@-moz-keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-moz-keyframes showBar7 {
  0% {
    height: 0px;
  }
  100% {
    height: 85%;
  }
}
@-moz-keyframes showBar8 {
  0% {
    height: 0px;
  }
  100% {
    height: 36%;
  }
}
@-moz-keyframes showBar9 {
  0% {
    height: 0px;
  }
  100% {
    height: 88%;
  }
}
@-moz-keyframes showBar10 {
  0% {
    height: 0px;
  }
  100% {
    height: 62%;
  }
}
@keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50%;
  }
}
@keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70%;
  }
}
@keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22%;
  }
}
@keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35%;
  }
}
@keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@keyframes showBar7 {
  0% {
    height: 0px;
  }
  100% {
    height: 85%;
  }
}
@keyframes showBar8 {
  0% {
    height: 0px;
  }
  100% {
    height: 36%;
  }
}
@keyframes showBar9 {
  0% {
    height: 0px;
  }
  100% {
    height: 88%;
  }
}
@keyframes showBar10 {
  0% {
    height: 0px;
  }
  100% {
    height: 62%;
  }
}