/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  min-height: 100%;
  background: #fff;
}
.SidebarUser nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  /* margin: 10px 32px; */
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 1px rgb(0 0 0 / 10%);
}
.SidebarUser nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.SidebarUser .logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.SidebarUser .logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 650;
}
.SidebarUser nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  background-image: url(//www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png);
  height: 100%;
  width: 260px;
  padding: 20px 0;
  /* background-color: #e3f2fd; */
  background-size: 256px 556px;
  background-position: left 0 bottom 0;
  background-color: #051e34;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.SidebarUser nav.open .sidebar {
  left: 0;
}
.SidebarUser .sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.SidebarUser .sidebar-content .list {
  list-style: none;
}
.SidebarUser .list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.SidebarUser .lists .nav-link:hover {
  background-color: #4070f4;
}
.SidebarUser .nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.SidebarUser .nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.SidebarUser .lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.SidebarUser .overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
.SidebarUser nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


.SidebarUser .side_img {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}